/* COLOURS
EOECE4
F7F2E7
D8D3CD
797A7E
*/


body {
    background-color: #E0ECE4;
}

.center-heading {
    
}

.mountain-background {
    position: absolute;
    width:100vw;
    height:50vh;
    background: linear-gradient(0deg, #E0ECE4, aliceblue);
}
.mtn-ground {
/*    background-color: aliceblue;*/
    height:100px;   
}

/*Mountains*/
.mtn-container-1 {
    position: absolute;
/*    background-origin: border-box;*/
    right:800px;
    top:79px;


}
.mtn-container-2 {
    position: absolute;
    left:2vw;
    top:199px;
    transform: scale(0.7);
}

.mtn-container-3 {
    position: absolute;
    left:15vw;
    margin-left: 200px;
    top: 279px;
    transform: scale(0.5);
}

.tri-mtn-3 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid #B8B3BD;

}

.tri-mtn-1 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid #D8D3CD;
}
.tri-mtn-2 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid #797A7E;
}

.mtn-snow-container {
    position: absolute;
    transform: rotate(45deg);
    left: 400px;
    --snow-colour: #F7F2E7
}
.mtn-snow-1 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 300px;
    height: 100px;
    
}
.mtn-snow-2 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 200px;
    height: 100px;
    top:100px;   
}
.mtn-snow-3 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 50px;
    height: 50px;
    top:200px;   
}
.mtn-snow-4 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 50px;
    height: 25px;
    left:300px;   
}
