body {
    
    overflow-x: hidden;
    margin: 0px;
    
    font-family: "Arial", sans-serif;
    
}

.daytime {
    color: #3c4a5b;
    background-color: #E0ECE4;
    --card-front-bkg:#afbfc3;
    --card-rear-bkg:#6b9099;
    -a-color:#4e719c;
    --skills-color:#1d686e;
    --footer-color:#6b9099;
}
.nighttime {
    color: #f8ffff;
    background-color: #7d8587;
    --card-front-bkg:#627287;
    --card-rear-bkg:#46566c;
    --a-color:lightblue;
    --skills-color:#3b414a;
    --footer-color:#5d637c;
}

a {
    color: var(--a-color);
    text-decoration: none;
}

nav {
    position:fixed;
    z-index:10;
    height:30px;
    width: 100%;
    background:#333;
    
    display:flex;  
    color:white;
}
#menu-toggler {
    display:none;
}
#nav-cells {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    
    flex-direction: row;
}
.nav-li {
    width:150px;
    display: flex;
    justify-content: center;
}
.nav-li a {
    text-decoration: none;
    color:white;
}

.daynight-switch{
    background:#fff;
    width:40px;
    height:20px;
    margin-left: 10px;
    border-radius: 10px;
}
.switch-toggler {
    background:#111;
    width:18px;
    height:18px;
    border-radius: 50%;
    margin-top:1px;
    margin-left:2px;
    transition: 0.3s;
}
.night-toggled {
    margin-left:20px;
}

#menu-toggler {
    margin:7px;
}
.heading-cont {
    position: absolute;
    top:0px;
    z-index:4;
    height:auto;
    width:100%;
    font-family: "Arial Black", sans-serif;
/*    color: #3c4a5b;*/
}
.heading-name {
    display: flex;
    justify-content: center;
}
.heading-name h1{
    
    z-index: 1;
    font-size: 70pt;
    text-align: center;
    
/*    align-self: center;*/
}
.heading-subtitle {
    display: flex;
    justify-content: center;
}
.heading-subtitle h2 {
    z-index: 1;
    font-size: 50pt;
    margin-top: -60px;
    text-align: center;
}


.bkg-spacer {
    height:700px;
    width:auto;
}



.title-container {
    display: flex;
    justify-content: center;
}
.title-underline {
    width:60px;
    height:3px;
    margin-top: -30px;
    background-color: #3c4a5b;
}

.title-container h3{
    font-family: "Arial", sans-serif;
    font-size: 26pt;
}


/*About Section Specific: */
.card-panel {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}

.about-cell {

    background-color: #afbfc3;
    border-radius: 10px;
    
    font-family: "Arial", sans-serif;
    font-size: 13pt;
    width: 20%;
    min-height: 300px;
    margin: 30px;
    padding: 20px;
}

.pic-cell {
    width:100%;
    height:30%;
}

.profile-pic {
    border: 2px solid black;
    border-radius: 10px;
    width: 120px;
    height: auto;
    float: right;   
}

/*Skills Section Specific*/
.skills-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width:100%;
    height: 400px;
    margin-top: 60px;
    background-color: var(--skills-color);
    
    font-weight: bold;
    color: #E0ECE4

}
.skills-title {
    color: #E0ECE4
}
.skills-line {
    background-color: #E0ECE4;
}

.skills-table {
    display:grid;
    grid-template-columns: 10% 10% 10%;
    grid-template-rows: 30px 60px 70px 30px 60px; 
    justify-content: space-around; 
}
.skill-col {
    text-align: center;
}
.grid-spacer {
    grid-column: 1/4;
}

.skill-col img {
    width:50px;
    height:auto;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

/*Projects Panel Specific:*/
.projects-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-cell {
    background-color: #afbfc3;
    border-radius: 10px;
    
    font-family: "Arial", sans-serif;
    font-size: 13pt;
    width: 20%;
    margin: 10px 30px 30px 30px;
    padding: 20px;
}
.project-img {
    width:100%;
    height:360px;
    border-radius: 10px;
    object-fit:cover;
}
.auto-WS-voca-img {
    height: 80px;
}
.project-cell h4 {
    text-align: center;
    margin-top: 0px;
}

.card-back a {
    color:lightskyblue;
}
footer {
    height:140px;
    width:100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color:var(--footer-color);
}
.footer-links {
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
}
.footer-links img {
    width:50px;
    height:auto;
    margin:1em 3em;
    border-radius: 15%;
}


/* RESPONSIVE */


@media only screen and (min-width:1200px) {
    .card {
        width:24%;
    }
    #nav-cells{
        display:flex !important;
        flex-direction:row;
    }
}

@media only screen and (max-width:1200px) {
    .about-cell {
        width:30%;
    }
    .card {
        width:40%;
    }
    .project-cell {
        width:30%;
    }
}

@media only screen and (max-width:700px) {
    
    .heading-name h1 {
        font-size: 60pt;
    }
    
    .heading-subtitle h2 {
        font-size:30pt;
    }
    
    heading-name {
        padding:1em;
    }
    
    .about-cell {
        width: 80%;
    }
    
    .project-cell {
        width: 80%;
    }
    .card {
        width:80%;
    }
    
    .about-cards-panel {
        flex-wrap: wrap;
    }
    .projects-panel {
        flex-wrap: wrap;
    }
    #menu-toggler {
        display:block;
    }
    #nav-cells {
        flex-direction:column;
        display:none;
    }

}

/*FLIPPING CARDS */

.stage{
/*    perspective: 500px;*/
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
}
.card{
    position:relative;
    /* width set in responsive section   */
    height: 400px;
    margin: 3em;
    

}
.card-flippable {
    transform:rotateY(0deg);
    transform-origin: center;
    transform-style:preserve-3d;
}

.card-face{
    display: flex;
    flex-direction: column;

    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    padding:20px;
    box-sizing: border-box;
    
    border-radius: 0.5em;
    backface-visibility: hidden;
}
.card-front{
    z-index: 1;
    background: var(--card-front-bkg);
}
.card-back{
    background: var(--card-rear-bkg);
    color: #E0ECE4;
    transform: rotateY(180deg);
}

.card-flip-forward {
    animation: flip-forward 0.6s linear forwards ;
}
.card-flip-reverse {
    animation: flip-reverse 0.6s linear forwards;
}


@keyframes flip-forward {
    0% {
        transform: rotateY(0deg) scale(1);
    }
    30% {
        transform: rotateY(-60deg) scale(1.1);
    }
    70% {
        transform: rotateY(-120deg) scale(1.1);
    }
    100% {
        transform: rotateY(-180deg) scale(1);
    }
}

@keyframes flip-reverse {
    0% {
        transform: rotateY(-180deg) scale(1);
    }
    30% {
        transform: rotateY(-120deg) scale(1.1);
    }

    70% {
        transform: rotateY(-60deg) scale(1.1);
    }
    100% {
        transform: rotateY(0deg) scale(1);
    }
}