body {
    background-color: #E0ECE4;
    overflow-x: hidden;
    margin: 0px;
    color: #3c4a5b;
    font-family: "Arial", sans-serif;
}
a {
    color: #4e719c;
}
.heading-cont {
    position: absolute;
    top:0px;
    z-index:4;
    height:auto;
    width:100%;
    font-family: "Arial Black", sans-serif;
/*    color: #3c4a5b;*/
}
.heading-name {
    display: flex;
    justify-content: center;
}
.heading-name h1{
    
    z-index: 1;
    font-size: 70pt;
    text-align: center;
    
/*    align-self: center;*/
}
.heading-subtitle {
    display: flex;
    justify-content: center;
}
.heading-subtitle h2 {
    z-index: 1;
    font-size: 50pt;
    margin-top: -60px;
    text-align: center;
}


.bkg-spacer {
    height:700px;
    width:auto;
}



.title-container {
    display: flex;
    justify-content: center;
}
.title-underline {
    width:60px;
    height:3px;
    margin-top: -30px;
    background-color: #3c4a5b;
}

.title-container h3{
    font-family: "Arial", sans-serif;
    font-size: 26pt;
}


/*About Section Specific: */
.card-panel {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}

.about-cell {

    background-color: #afbfc3;
    border-radius: 10px;
    
    font-family: "Arial", sans-serif;
    font-size: 13pt;
    width: 20%;
    min-height: 300px;
    margin: 30px;
    padding: 20px;
}

.pic-cell {
    width:100%;
    height:30%;
}

.profile-pic {
    border: 2px solid black;
    border-radius: 10px;
    width: 120px;
    height: auto;
    float: right;   
}

/*Skills Section Specific*/
.skills-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width:100%;
    height: 400px;
    margin-top: 60px;
    background-color: #1d686e;
    
    font-weight: bold;
    color: #E0ECE4

}
.skills-title {
    color: #E0ECE4
}
.skills-line {
    background-color: #E0ECE4;
}

.skills-table {
    display:grid;
    grid-template-columns: 10% 10% 10%;
    grid-template-rows: 30px 60px 70px 30px 60px; 
    justify-content: space-around; 
}
.skill-col {
    text-align: center;
}
.grid-spacer {
    grid-column: 1/4;
}

.skill-col img {
    width:50px;
    height:auto;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

/*Projects Panel Specific:*/
.projects-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-cell {
    background-color: #afbfc3;
    border-radius: 10px;
    
    font-family: "Arial", sans-serif;
    font-size: 13pt;
    width: 20%;
    margin: 10px 30px 30px 30px;
    padding: 20px;
}
.project-img {
    width:100%;
    height:360px;
    border-radius: 10px;
    object-fit:cover;
}
.auto-WS-voca-img {
    height: 80px;
}
.project-cell h4 {
    text-align: center;
    margin-top: 0px;
}

.card-back a {
    color:lightskyblue;
}
footer {
    height:140px;
    width:100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color:#6b9099;
}
.footer-links {
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
}
.footer-links img {
    width:50px;
    height:auto;
    margin:1em 3em;
    border-radius: 15%;
}


/* RESPONSIVE */


@media only screen and (min-width:1200px) {
    .card {
        width:24%;
    }
}

@media only screen and (max-width:1200px) {
    .about-cell {
        width:30%;
    }
    .card {
        width:40%;
    }
    .project-cell {
        width:30%;
    }
}

@media only screen and (max-width:700px) {
    
    .heading-name h1 {
        font-size: 60pt;
    }
    
    .heading-subtitle h2 {
        font-size:30pt;
    }
    
    heading-name {
        padding:1em;
    }
    
    .about-cell {
        width: 80%;
    }
    
    .project-cell {
        width: 80%;
    }
    .card {
        width:80%;
    }
    
    .about-cards-panel {
        flex-wrap: wrap;
    }
    .projects-panel {
        flex-wrap: wrap;
    }

}

/*FLIPPING CARDS */

.stage{
/*    perspective: 500px;*/
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
}
.card{
    position:relative;
    /* width set in responsive section   */
    height: 400px;
    margin: 3em;
    

}
.card-flippable {
    transform:rotateY(0deg);
    transform-origin: center;
    transform-style:preserve-3d;
    transition: all 1s ease;
}

.card-face{
    display: flex;
    flex-direction: column;

    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    padding:20px;
    box-sizing: border-box;
    
    border-radius: 0.5em;
    backface-visibility: hidden;
}
.card-front{
    z-index: 1;
    background: #afbfc3;
}
.card-back{
    background: #6b9099;
    color: #E0ECE4;
    transform: rotateY(180deg);
}

.card-flip-class {
    transform: rotateY(-180deg);
}
