body {
    --sun-color:rgba(252,242,230,1);
    
    --sun-shadow:rgba(255,200,145,0.7);
    
    --moon-color:#eaefef;
    
    transition:1s;
    
}

.daytime {
    --sky-color:linear-gradient(0deg, #a5c6ce, aliceblue);
    --ground-color:#767b78;
    
    --rear-mtn-color:#afbfc3;
    --mid-mtn-color:#6b9099;
    --fore-mtn-color:#1d686e;
    
    --snow-colour: #F7F2E7;
    
    --mtn-shadow-border:400px solid #444;
    --mtn-shadow-transform:skewX(-37deg) translate(149px);
    
    
}

.nighttime {
    --sky-color:linear-gradient(0deg, #313859, #bca4e1);
    --ground-color:#55525b;
    
    --rear-mtn-color:#807f97;
    --mid-mtn-color:#627287;
    --fore-mtn-color:#46566c;
    
    --snow-colour: #c6c3c8;
    
    --mtn-shadow-border:400px solid #333;
    --mtn-shadow-transform:skewX(40deg) translate(468px);
}


.mountain-background {
    position: absolute;
    width:100%;
    height:700px;
    overflow-x: hidden;

}
.mtn-sky {
    position: absolute;
    background: var(--sky-color);
    top:0px;
    left:0px;
    width: 100%;
    height: 500px;
    
}

.mtn-ground {
    position:absolute;
    top:450px;
    left:0px;    
    background-color: var(--ground-color);
    height:200px;
    width: 100vw;
    z-index: 0;
}

/*Mountains*/

/*Rear mountain/big one*/
.mtn-rear-layer {
    position:absolute;
    left:2vw;
    top: 79px;
    z-index: 1;

}
.mtn-rear-1{
    position: absolute;
    left:-100px;
}
.mtn-rear-2{
    position: absolute;
    left:500px;
    top:40px;
    transform: scale(0.9);
}
.mtn-rear-3 {
    position: absolute;
    transform: scale(0.3);
    top:280px;
    left:300px
}
.mtn-rear-4 {
    position: absolute;
    transform: scale(0.6);
    top:160px;
    left:400px
}
.mtn-rear-5{
    position: absolute;
    left:860px;
    top:40px;
    transform: scale(0.9);
}
.mtn-rear-6{
    position: absolute;
    left:1400px;
    top:120px;
    transform: scale(0.7);
}

.tri-mtn-rear {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid var(--rear-mtn-color);
}
.shadow-lg {
    opacity: 0.2;
}

/*Midde mountain/small one*/
.mtn-middle-layer {
    position: absolute;
    left:35%;
    top:310px;
    z-index:2;

}
.mtn-mid-1 {
    position: absolute;
    left:0px;
    top:0px;
    transform: scale(0.5);
}
.mtn-mid-2 {
    position: absolute;
    left:-400px;
    top:40px;
    transform: scale(0.4);
}
.mtn-mid-3 {
    position: absolute;
    left:-500px;
    top:80px;
    transform: scale(0.3);
}
.mtn-mid-4 {
    position: absolute;
    left:600px;
    top:40px;
    transform: scale(0.4);
}
.mtn-mid-5 {
    position: absolute;
    left:100px;
    top:-20px;
    transform: scale(0.55);
}

.mtn-mid-6 {
    position: absolute;
    left:800px;
    top:00px;
    transform: scale(0.5);
}

.tri-mtn-mid {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;

    border-bottom: 400px solid var(--mid-mtn-color);

}
.shadow-sm {
    opacity: 0.4;
}


/*Front Mountain/medium one*/
.mtn-fore-layer {
    position: absolute;
    right:750px;
    top:270px;
    z-index:3;
    
}
.mtn-fore-1 {
    position: absolute;
    top:0px;
    left:0px;
    transform: scale(0.7);
}
.mtn-fore-2 {
    position: absolute;
    top:40px;
    left:300px;
    transform: scale(0.6);
}
.mtn-fore-3 {
    position: absolute;
    top:120px;
    left:-400px;
    transform: scale(0.4);
}


.tri-mtn-fore {

    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid var(--fore-mtn-color);
}
.shadow-md {
    opacity: 0.6;
}


.mtn-shadow {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 65px solid transparent;
  
    border-bottom:var(--mtn-shadow-border);
    transform:var(--mtn-shadow-transform);
}

/*Mtn snow*/
.mtn-snow-container {
    position: absolute;
    transform: rotate(45deg);
    left: 400px;

}
.mtn-snow-1 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 300px;
    height: 102px;
    
}
.mtn-snow-2 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 200px;
    height: 100px;
    top:100px;   
}
.mtn-snow-3 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 50px;
    height: 51px;
    top:199px;   
}
.mtn-snow-4 {
    position: absolute;
    background-color: var(--snow-colour);
    width: 51px;
    height: 25px;
    left:298px;   
}

.celestial {
    z-index:0;
    transition-duration: 1s;
    transition-property: transform, z-index, visibility;
}

#sun {
    position:absolute;
    width:100px;
    height:100px;
    right:5vw;
    top:50px;
    border-radius: 50%;
    background:var(--sun-color);
    box-shadow: 0px 0px 23px 1px var(--sun-shadow);


}
#moon {
    position:absolute;
    width:100px;
    height:100px;
    left:5vw;
    top:90px;
    border-radius: 50%;
    background:transparent;
    box-shadow: 12px 5px 0 3px var(--moon-color);


}
.set {
    transform:translateY(400px);
    visibility:hidden;
}